
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  margin: 20px 30px; 
  font-family: 'Balsamiq Sans', cursive;
  width: 100%;
  height: 600px;
  margin: 100px auto;
  text-align: center;
  
}

.title{
  font-size: 2rem;
  margin-bottom: 60px;
  justify-content: center;
}

.btn-quote{
  color: #fff;
  border-radius: 100%;
  background-color: red;
  font-size: 1rem;
  box-shadow: 1px 5px 1px 5px black;
  width: 60px;
  height: 60px;
  text-transform: uppercase;
  margin: 100px 0px 30px 0px;
  outline: 0;
  cursor: grab;
}

.btn-design{
  width: 170px;
  height: 50px;
  border-radius: 0.8rem;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  border: 1px solid grey;
  outline: 0;
  margin: 10px 0px 30px 0px;
  
}

.quote-container{
  width: 95%;
  padding: 12px 0px;
  display:flex;
  justify-content: center;
  flex-direction: column; 
  border: 5px solid black;
  margin: 0px 10px;
}

.quote{
  font-size: 1rem;
  padding: 5px;
  color: black;
  margin: 0 auto;
  
}

.quote-author{
  color:rgb(61, 58, 58);
  font-size: 0.8rem;
}

.quote-contributor{
  color: rgb(52, 52, 170);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
 
}

.form{
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 0px 15px;
  margin-bottom: 60px;
}
@media screen and (min-width: 700px) {
  .form{
    width: 60%;
    margin: 0 auto;
  }
}

.form-control{
  height: 60px;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  width: 60%;
}

.form-label{
  width: 30%; 
}
@media screen and (min-width: 700px) {
  .form-label{
    padding: 0px 100px;
  }
}

.form-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 20px;
  font-size: 2rem;
}

/* scene wrapper */
/*
.wrapper{
  height: 300px;
  margin-top:50px;
  position:relative;
  perspective: 800;
  perspective-origin: 50% 100px;
}
/*
.cube{
  position: relative;
  margin: 0 auto;
  width: 400px;
  transform-style: preserve-3d;
  animation: spin 4s infinite linear;
  transition: all 1s linear;
}*/

/* outer cube */
/*
b{
  position:absolute;
  width:400px;
  height:400px;
  display:block;
  font-size:20px;
  text-align:center;
  line-height:200px;
  color:rgb(0,0,0,0.5);
  font-family:sans-serif;
  text-transform:uppercase;
  transition: all 1s linear;
}

b.bottom{
  transform:rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  
}
b.front{
  transform: translateZ(100px);
  background: url(images/question.jpeg);
}

/* inner cube */
/*
i{
  position:absolute;
  top:50px;
  left: 50px;
  width:300px;
  height:250px;
  display:block;
  transition: all 1s linear;
}
i.front{
  transform: translateZ(50px);
  padding: 5px 20px;
}

i.back{
  transform: translateZ(-50px);
  background-color: rgb(169, 219, 213);
}

/* hover transformations */
/*
.cube:hover{
  top:150px;
}
.cube:hover b.top{
  transform: translateZ(100px);
  transform-origin: left center;
}
.cube:hover i{
  top:-200px;
}
*/